.link-container {
    display: flex;
    justify-content: space-between;
}
.link {
    flex: 1;
    text-align: center;
    padding: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-top: 2;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}

.flex-containers {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.flex-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #7398c6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 10px 20px;
  z-index: 1;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #b5d0f0; 
  padding: 15px;
  height: 100vh; 
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 25%; 
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

div.class-info-header {
  line-height: 1.1;
}

p.class-code {
  color:  #002e5d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  word-spacing: 0%;
  margin-bottom: 0;
}

div.parent-header {
  text-align: left;
}

div.parent-footer {
  text-align: center;
}

div.sibling-header {
  display: inline-block;
  vertical-align: left;
  margin-right: 5px;
}

div.sibling-footer {
  display: inline-flex;
  vertical-align: left;
  margin-right: 5px;
  width: 500px;
}

h1.class-name {
  color:  #002e5d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

p.class-description {
  color:  #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

div.class-actions {
  vertical-align: middle;
}

div.class-prerequisites {
  margin-right: 100px;
}

div.hover-class {
  background-color: #002e5d;
  color: #ffffff;
  padding: 7px;
  border-radius: 10px;
}

h1.hover-class-name {
  font-size: 20px;
}

p.hover-class-description {
  color: #ffffff;
}

h2.hover-class-prereqs {
  font-size: 15px;
}

div.class-next-classes {
  margin-left: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}